html,body {
  height:100%;
  width:100%;
  margin:0;
  padding:0
  }
  
  h2 {
  font-size:15px;
  margin:.25em
  }
  
  h3 {
  width:100%;
  margin:10px
  }
  
  li {
  list-style-type:none
  }
  
  .hidden {
  color:#fff
  }
  
  .wrapper {
  display:flex;
  flex-direction:row;
  height:100%;
  max-height:100%;
  overflow:hidden
  }
  
  #overlay {
  position:fixed;
  display:none;
  width:100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0,0,0,0.5);
  z-index:2;
  cursor:pointer
  }
  
  #login_info {
  margin:auto;
  color:#fff;
  width:25%;
  top:30%;
  position:relative;
  font-size: 2em;
  }

  #login_info a{
    font-weight: bold;
  }
  
  .loading_spinner {
  border:16px solid #f3f3f3;
  border-top:16px solid #3498db;
  border-radius:50%;
  width:120px;
  height:120px;
  animation:spin 2s linear infinite
  }
  
  @keyframes spin {
  0% {
  transform:rotate(0deg)
  }
  
  100% {
  transform:rotate(360deg)
  }
  }
  
  #text a {
  color:#fff;
  font-weight:700
  }
  
  #menu {
  border-right:1px solid #000;
  flex-direction:column;
  flex-wrap:wrap;
  display:flex;
  flex:1
  }
  
  .header {
  padding:5px;
  border:1px solid #000
  }
  
  .header button {
  margin:10px
  }
  
  #container {
  flex:1;
  display:flex;
  flex-direction:row;
  padding:5px;
  border:1px solid #000
  }
  
  #rooms,#private_chats {
  flex:1;
  overflow-y:scroll;
  display:flex;
  margin: 1em;
  }
  
  .user_in_room {
  margin-left:1em;
  font-style:italic;
  font-size:1em
  }
  
  #rooms button,#private_chats button {
  width:100%;
  background-color:#fff;
  border:1px solid #000
  }
  
  #rooms .user_list_item button {
  width:100%;
  background-color:#d3d3d3;
  border:1px solid #000
  }
  
  #rooms button:hover {
  cursor:pointer
  }
  
  #menu li {
  list-style-type:none;
  padding-top:.25em
  }
  
  #new_room_div ul {
  padding-left:1em
  }
  
  #rooms_header,#private_chats_header {
  text-decoration:underline
  }
  
  #private_chats_header{
    border-top: 1px solid #000
  }

  #chat_new {
  padding:10px 0 0 10px;
  flex:2;
  display:flex
  }
  
  #new_room_div {
  border-bottom:1px solid #000
  }
  
  .add_room {
  margin-top:auto
  }
  
  #chat_history,#user_chat_container {
  margin:1em;
  overflow:auto;
  flex:15;
  display:flex;
  border-bottom:1px solid #000
  }
  
  #chat_new label {
  display:none
  }
  
  #chat_new textarea {
  width:auto
  }
  
  .user_name {
  font-weight:700
  }
  
  #chat {
  flex:2;
  flex-direction:column;
  flex-wrap:wrap;
  display:flex
  }
  
  #chat_history li {
  border:1px solid #000;
  margin:3px;
  padding:3px;
  border-radius:4px;
  color:#000;
  background-color:#d3d3d3
  }
  
  .room_container,.user_chat_container {
  width:95%;
  padding:2%;
  overflow-x:hidden;
  border-radius:.25rem;
  display:flex;
  flex-direction:column
  }
  
  .room_header {
  border-bottom:1px solid #000;
  border-top:1px solid #000;
  flex:1;
  display:flex
  }
  
  #chat_history p {
  border-radius:1.15rem;
  line-height:1.25;
  padding:.5rem .875rem;
  position:relative;
  word-wrap:break-word
  }
  
  #chat_history .room_info {
  font-style:italic;
  font-size:.75em;
  text-align:center;
  border:1px solid;
  margin-top:.1em;
  margin-left:auto;
  margin-right:auto;
  width:50%;
  border-color:#d3d3d3;
  background-color:#d3d3d3
  }
  
  p.from-me {
  align-self:flex-end;
  background-color:#248bf5;
  color:#fff
  }
  
  p.from-me::before {
  border-bottom-left-radius:.8rem .7rem;
  border-right:1rem solid #248bf5;
  right:-.35rem;
  transform:translate(0,-0.1rem)
  }
  
  p.from-me::after {
  background-color:#fff;
  border-bottom-left-radius:.5rem;
  right:-40px;
  transform:translate(-30px,-2px);
  width:10px
  }
  
  p[class^="from-"] {
  margin:.5rem 0;
  width:fit-content
  }
  
  p.from-me ~ p.from-me {
  margin:.25rem 0 0
  }
  
  p.from-me ~ p.from-me:not(:last-child) {
  margin:.25rem 0 0
  }
  
  p.from-me ~ p.from-me:last-child {
  margin-bottom:.5rem
  }
  
  p.from-them {
  align-items:flex-start;
  background-color:#e5e5ea;
  color:#000
  }
  
  p.from-them:before {
  border-bottom-right-radius:.8rem .7rem;
  border-left:1rem solid #e5e5ea;
  left:-.35rem;
  transform:translate(0,-0.1rem)
  }
  
  p.from-them::after {
  background-color:#fff;
  border-bottom-right-radius:.5rem;
  left:20px;
  transform:translate(-30px,-2px);
  width:10px
  }