html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 15px;
    margin-top: 0;
}

h3{
    padding: 5px;
    /* position: absolute; */
    width: 100%;
    margin: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#text a{
    color: white;
    font-weight: bold;
}

#menu{
    border: 1px solid black;
}

.header { 
    padding:5px;
    border: 1px solid black
}

.header button {
    margin: 10px
}

#container { 
    flex: 1; 
    display: flex; 
    flex-direction: row; 
	padding:5px;
    border: 1px solid black
}

#chat_history{
    /* height: 500px; */
    /* height: calc(100% - 703px); */
    /* top: 0; */
    overflow: auto;
    /* height: 78%; */
    /* text-align: center; */
    /* position: fixed; */
    /* left: 100px; */
    height: 631px;
    flex: 1;
    background-color: green;
}

#chat_new{
    bottom: 0px;
    position: absolute;
    padding: 0 0 0 10px;
    width: 95%;
}

#chat_new label{
    display:none
}

#chat_new textarea{
    width:98%
}

.user_name {
    font-weight: bold;
}

/* style for the left menu*/
#rooms {
    flex: 1;
    padding:5px;
    /* border: 1px solid black */
}

#rooms li{
    list-style-type: none;
    padding-top: 5px;
    /* margin-left: 10px; */
    left: 10px;
}

#rooms ul{
    padding-left: 0;
}

.user_in_room{
    margin-left: 1em;
    font-style: italic;
    font-size: 1em;
}

#rooms button{
    width: 100%;
    background-color: #fff;
    border:1px solid #000;
}

#rooms .user_list_item button{
    width: 75%;
    margin-left: 25%;
    background-color: lightgrey;
    border:1px solid #000;
}

#rooms button:hover {
    cursor:pointer;
}

.add_room { 
    margin-top: auto; 
}

/* style for the chat window*/
#chat {
    flex: 5;
    /* text-align: center; */
    position: relative;
    /* background-color: green; */
    /* padding:5px; */
    /* border: 1px solid black */
}

#chat_history li {
    border: 1px solid black;
    margin: 3px;
    padding: 3px;
    list-style-type: none;
    border-radius: 4px;
    color: black;
    background-color: lightgrey;
}

/* chat messages */
.room_container {
    overflow-x: hidden;
    /* background-color: #fff; */
    /* border: 1px solid #e5e5ea; */
    border-radius: 0.25rem;
    display: flex;
    /* max-height: 47%; */
    flex-direction: column;
    /* font-family: "SanFrancisco"; */
    /* font-size: 1.25rem; */
    /* margin: 0 auto 1rem; */
    /* max-width: 600px; */
    /* height: inherit; */
    /* padding: 0.5rem 1.5rem; */
  }
  
  #chat_history p {
    border-radius: 1.15rem;
    line-height: 1.25;
    /* width: 75%; */
    padding: 0.5rem .875rem;
    position: relative;
    word-wrap: break-word;
  }
  
  #chat_history .room_info{
    font-style: italic;
    font-size: 0.5em;
    text-align: center;
  }

  .room_info::after {
    content: "------------------";
  }

 .room_info::before {
    content: "------------------";
  }
  
  p.from-me {
    align-self: flex-end;
    background-color: #248bf5;
    color: #fff; 
  }
  
  p.from-me::before {
    border-bottom-left-radius: 0.8rem 0.7rem;
    border-right: 1rem solid #248bf5;
    right: -0.35rem;
    transform: translate(0, -0.1rem);
  }
  
  p.from-me::after {
    background-color: #fff;
    border-bottom-left-radius: 0.5rem;
    right: -40px;
    transform:translate(-30px, -2px);
    width: 10px;
  }
  
  p[class^="from-"] {
    margin: 0.5rem 0;
    width: fit-content;
  }
  
  p.from-me ~ p.from-me {
    margin: 0.25rem 0 0;
  }
  
  p.from-me ~ p.from-me:not(:last-child) {
    margin: 0.25rem 0 0;
  }
  
  p.from-me ~ p.from-me:last-child {
    margin-bottom: 0.5rem;
  }
  
  p.from-them {
    align-items: flex-start;
    background-color: #e5e5ea;
    color: #000;
  }
  
  p.from-them:before {
    border-bottom-right-radius: 0.8rem 0.7rem;
    border-left: 1rem solid #e5e5ea;
    left: -0.35rem;
    transform: translate(0, -0.1rem);
  }
  
  p.from-them::after {
    background-color: #fff;
    border-bottom-right-radius: 0.5rem;
    left: 20px;
    transform: translate(-30px, -2px);
    width: 10px;
  }
  
  p[class^="from-"].emoji {
    background: none;
    font-size: 2.5rem;
  }
  
  p[class^="from-"].emoji::before {
    content: none;
  }
  
  .no-tail::before {
    display: none;
  }
  
  .margin-b_none {
    margin-bottom: 0 !important;
  }
  
  .margin-b_one {
    margin-bottom: 1rem !important;
  }
  
  .margin-t_one {
    margin-top: 1rem !important;
  }
  