html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 15px;
    margin-top: 0;
}

h3{
    padding: 5px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#text a{
    color: white;
    font-weight: bold;
}

#menu{
    border: 1px solid black;
}

.header { 
    padding:5px;
    border: 1px solid black
}

.header button {
    margin: 10px
}

#container { 
    flex: 1; 
    display: flex; 
    flex-direction: row; 
	padding:5px;
    border: 1px solid black
}

#chat_history{
    /* top: 0; */
    /* height: 78%; */
    /* text-align: center; */
    /* position: relative; */
    /* left: 100px; */
    /* height: 200px; */
    /* width: 500px; */
    /* background-color: green; */
}

#chat_new{
    bottom: 0px;
    position: absolute;
    padding: 0 0 0 10px;
    width: 95%;
}

#chat_new label{
    display:none
}

#chat_new textarea{
    width:98%
}

/* style for the left menu*/
#rooms {
    flex: 1;
    padding:5px;
    /* border: 1px solid black */
}

#rooms li, #users li {
    list-style-type: none;
    padding-top: 5px;
}

#rooms ul, #users ul  {
    padding-left: 0;
}

#rooms button, #users button {
    width: 100%; 
    background-color:#fff;
    border:1px solid #000;

}

#rooms button:hover {
    cursor:pointer;
}

.add_room { 
    margin-top: auto; 
}

/* style for the chat window*/
#chat {
    flex: 5;
    /* text-align: center; */
    position: relative;
    /* background-color: green; */
    /* padding:5px; */
    /* border: 1px solid black */
}

#users {
	flex: 1;
	padding:5px;
	border-top: 1px solid black;
}

#footer { 
	padding:5px;
    border: 1px solid black
}

